<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>Hi, Welcome</h1>
        <small>
            By: Admin
        </small>
        <p>Hi, <%= @user.email %></p>
        <p>Welcome to Blocipedia</p>
        <p>
            <%= link_to "View the website", root_url %>
        </p>
    </body>
</html>