<div class="col-md-12 text-center">
  <h1>Collaborator List</h1>
  <% @collaborators.each do |collaborator| %>
    <% if collaborator.wiki_id == @wiki.id %>
      <%= collaborator_email(collaborator.user_id) %>
      <%= link_to "Delete", [@wiki, collaborator], method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this collaborator?"} %>
      <br/>
      <br/>
    <% end %>
  <% end %>
  <%= link_to "Add new collaborator", new_wiki_collaborator_path(@wiki.id), class: "btn btn-default" %>
</div>